@import "tailwindcss";



.typed-cursor {
  color: #06b6d4; 
  font-weight: bold;
  font-size: 1.5rem;
   display: inline-block;
  animation: blink 0.7s infinite, cursorColor 3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes cursorColor {
  0% { color: #06b6d4; }    
   33% { color: #06b6d4; }  
     66% { color: #06b6d4; }  
   100% { color: #06b6d4; }  
 }


 html.dark {
  --custom-a0: #1a123d;
  --custom-a10: #1e2341;
  --custom-a20: #172a47;
  --custom-a30: #1c3452;
  --custom-a40: #203248;
}

html.light {
  --custom-a0: #ffffff;
  --custom-a10: #f7f7f7;
  --custom-a20: #efefef;
  --custom-a30: #e5e5e5;
  --custom-a40: #dcdcdc;
}


.bg-dark {
  background: linear-gradient(
    to right,
    var(--custom-a0),
    var(--custom-a10),
    var(--custom-a20),
    var(--custom-a30),
    var(--custom-a40)
  );
}

.bg-light {
  background: linear-gradient(
    to right,
    var(--custom-a0),
    var(--custom-a10),
    var(--custom-a20),
    var(--custom-a30),
    var(--custom-a40)
  );
}



 /* html.dark{
  --bg-primary: [linear-gradient(to_right,var(--custom-a0),var(--custom-a10),var(--custom-a20),var(--custom-a30),var(--custom-a40))];
  --bg-secondary: #1e293b;
  --text-primary: #ffffff;
  --accent: #06b6d4;
 } */

